img {
    max-width:30%
}

h1 {
    float: right;
    color: white;
    font-family: "Helvetica";
    font-size: 75px
}

#click {
    color: white;
    font-family: "Helvetica";
    font-weight: bold;
    position: relative;
}

#teams {
    /* text-align: center;
    display: table;
    padding-left: 0px; */
    column-count: 6;
    column-width: 30px;
    position: relative;
}

body {
    background-color: #26428b;
    /* background-image: url("./src/dirk.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#rand {
    position: absolute;
    background-color: red;
    display: flex;
    margin: 10px;
    width: 800px;
    height: 120px;
    flex: center;
}

#randomize {
    position: relative;
    font-family: "Helvetica";
    display: flex;
    flex: center;
    height: 100px;
    width: 50px;
    display: block;
}
#formCity {
    position: relative;
    display: flex;
    max-height: 40px;
    margin: 10px;
    width: 180px;
}
#formSubmit {
    position: relative;
    display: flex;
    max-height: 40px;
    max-width: 100px;
    margin: 10px;
}

#formName {
    position: relative;
    display: flex;
    max-height: 40px;
    margin: 10px;
    width: 200px;
}
#formConference {
    position: relative;
    display: flex;
    max-height: 40px;
    margin: 10px;
}
#formDivision {
    position: relative;
    display: flex;
    max-height: 40px;
    margin: 10px;
}